<footer class='footer'>
  {% assign site_footer_pages = site.pages | where: 'is_footer', true %}

  {% if site_footer_pages.size > 0 %}
    <ul class='footer__list'>
      {% for site_footer_page in site_footer_pages %}
        <li class='footer__item'>
          <a href='{{ site_footer_page.url | relative_url }}'>{{ site_footer_page.title | escape }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <ul class='footer__list footer__list--social'>
    {% if site.author %}
      {% if site.email %}
        <li class='footer__item'>
          <a href='mailto:{{ site.email }}'>{{ site.author }}</a>
        </li>
      {% else %}
        <li class='footer__item'>{{ site.author }}</li>
      {% endif %}
    {% endif %}

    {% if site.github_username %}
      <li class='footer__item'>
        <a href='https://github.com/{{ site.github_username }}' title='github'>
          {% include icon.html icon='github' %}
        </a>
      </li>
    {% endif %}

    {% if site.twitter_username %}
      <li class='footer__item'>
        <a href='https://twitter.com/{{ site.twitter_username }}' title='twitter'>
          {% include icon.html icon='twitter' %}
        </a>
      </li>
    {% endif %}

    {% if site.facebook_username %}
      <li class='footer__item'>
        <a href='https://www.facebook.com/{{ site.facebook_username }}' title='facebook'>
          {% include icon.html icon='facebook' %}
        </a>
      </li>
    {% endif %}

    {% if site.dribbble_username %}
      <li class='footer__item'>
        <a href='https://dribbble.com/{{ site.dribbble_username }}' title='dribbble'>
          {% include icon.html icon='dribbble' %}
        </a>
      </li>
    {% endif %}
  </ul>
</footer>
