<header class='header'>
  <a class='header__title' href='{{ '/' | relative_url }}'>{{ site.title | escape }}</a>
  <nav class='header__nav'>
    {% assign site_pages = site.pages | where_exp: 'page', 'page.is_footer != true' %}

    {% for site_page in site_pages %}
      {% if site_page.title %}
        <a class='header__nav__item {% if page.url == site_page.url %} is-active {% endif %}' href='{{ site_page.url | relative_url }}'>{{ site_page.title | escape }}</a>
      {% endif %}
    {% endfor %}
  </nav>
</header>
