html {
  box-sizing: border-box;
  font-size: $default-font-size;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $body-bg-color;
  font-family: $sans-serif-fonts;
}

.layout {
  max-width: 700px;
  margin: auto;
  padding: 0 15px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 50px 0;
}

.main {
  margin: 50px 0 120px;
}

.header__nav {
  white-space: nowrap;
  overflow: auto;
  margin-top: 12px;
}

.header__nav__item,
.header__title {
  text-decoration: none;
  font-size: 1rem;
  font-family: $serif-fonts;
  color: $header-color;
}

.header__nav__item {
  margin-right: 20px;
}

.header__nav__item.is-active {
  font-weight: bold;
}

.header__title {
  font-size: 1.6rem;
  margin-right: 40px;
  font-weight: bold;
}

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.posts__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  align-items: baseline;
}

.posts__date {
  width: 30%;
  color: $post-date-color;
  font-size: 1rem;
  font-family: $serif-fonts;
}

.posts__title {
  width: 70%;
  font-size: 1rem;
}

.posts__link {
  color: $post-link-color;
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  font-size: .9rem;
  font-style: italic;
  font-family: $serif-fonts;
  color: $footer-color;
}

.footer__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer__item {
  margin-right: 10px;
  display: flex;
}

.footer__item a {
  color: $footer-color;
  text-decoration: none;
}

.footer__list .footer__item:after {
  content: '|';
  margin-left: 10px;
}

.footer__list .footer__item:last-child:after {
  display: none;
}

.footer__list--social .footer__item:after {
  display: none;
}

.footer__list--social .footer__item:nth-child(2):before {
  content: '|';
  margin-right: 10px;
}

.icon {
  height: .9rem;
  width: .9rem;
  fill: $icon-color;
}

#disqus_thread {
  margin-top: 60px;
}
