html {
  box-sizing: border-box;
  font-size: $default-font-size;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $white;
  font-family: $default-font-family;
}

.layout {
  max-width: 700px;
  margin: auto;
  padding: 0 15px;
}

.header {
  padding: 50px 0;
}

.main {
  margin: 50px 0 120px;
}

.header__nav {
  display: flex;
  align-items: baseline;
}

.header__nav__item {
  display: inline-block;
  text-decoration: none;
  font-size: .9rem;
  color: $green-light;
}

.header__nav__item--title {
  font-size: 1.5rem;
  margin-right: 40px;
  color: $green;
}

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.posts__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  align-items: center;
}

.posts__date {
  width: 30%;
  color: $grey;
  font-size: 1rem;
}

.posts__title {
  width: 70%;
  font-size: 1.1rem;
}

.posts__link {
  color: $black;
  text-decoration: none;
}

.footer {
  padding: 25px 0;
  font-size: .8rem;
  font-style: italic;
  color: $grey;
}

.footer__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer__item {
  margin-right: 10px;
  display: flex;
}

.footer__item a {
  color: $grey;
  text-decoration: none;
}

.footer__item:nth-child(2):before {
  content: '|';
  margin-right: 10px;
}

.icon {
  height: .9rem;
  width: .9rem;
  fill: $grey;
}

#disqus_thread {
  margin-top: 60px;
}

::selection {
  background: $green-lightest;
}
