$zh-fonts: 'PingFang SC', 'Hiragino Sans GB', 'Droid Sans Fallback', 'Microsoft YaHei', 'Wenquanyi Micro Hei';
$sans-serif-fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Droid Sans', 'Helvetica Neue', #{$zh-fonts}, sans-serif;
$serif-fonts: 'Palatino', 'Palatino Linotype', 'Book Antiqua', #{$zh-fonts}, serif;
$monospaced-fonts: 'Menlo', 'Monaco', 'Consolas', "Courier New", monospace;

$default-font-size: 18px;
