$main-color: rgb(134, 193, 102);
$icon-color: rgb(189, 192, 186);
$default-font-family: 'Georgia', 'Xin Gothic', 'Hiragino Sans GB', 'Droid Sans Fallback', 'PingFang SC', 'Microsoft YaHei', 'Wenquanyi Micro Hei', sans-serif;
$default-root-font-size: 18px;
