---
layout: default
---

<div class='articles-container'>
  {{ content }}

  {% if site.posts.size > 0 %}
  <ul class='articles-list'>
    {% for post in site.posts %}
    <li class='articles-list__item'>
      {% assign date_format = site.minima.date_format | default: '%b %-d, %Y' %}
      <div class='articles-list__date'>{{ post.date | date: date_format }}</div>
      <div class='articles-list__title'>
        <a class='articles-list__link' href='{{ post.url | relative_url }}'>
          {{ post.title | escape }}
        </a>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
