---
layout: default
---

{% if site.posts.size > 0 %}
<ul class='posts'>
  {% for post in site.posts %}
  <li class='posts__item'>
    <time class='posts__date' datetime='{{ post.date | date_to_xmlschema }}'>
      {% assign date_format = site.date_format | default: '%b %-d, %Y' %}
      {{ post.date | date: date_format }}
    </time>
    <div class='posts__title'>
      <a class='posts__link' href='{{ post.url | relative_url }}'>
        {{ post.title | escape }}
      </a>
    </div>
  </li>
  {% endfor %}
</ul>
{% endif %}
